/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap'); */

* {
    box-sizing: border-box;
  }

  :root {
    --blue: #5ab7f5;
    --white: #ffffff; 
    --purple: rgb(208, 162, 214);
    --black: black;

  }
  
  /* Style the body */
  body {
    /* font-family: Gentium PLus; */
    font-family: 'Fauna One', serif;
    margin: 0;
  }

  .marquee{
    background-color: var(--purple);
    padding:5px;
  }

  .marquee marquee{
    text-align:center;
    letter-spacing:5px;
    font-size: 25px;
  }

  .font-cinzel{
    font-family: Cinzel, serif;
    font-size: 46px;  
  }

  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: var(--blue);
    color: var(--black);
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    overflow: hidden;
    background-color: var(--black);
    position: sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: var(--white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    /* background-color: rgb(190, 228, 253); */
    background-color: var(--purple);
    color: var(--black);
    opacity: 0.9;
    font-weight: bold;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: var(--blue);
    width: 100%;
    height: 300px;
  }
   
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--black);
    color: var(--white);
    opacity: 0.8;
    font-size: 1.3rem;
  }

/* Create an active/current "tab button" class */
  .tab button.active {
    background-color: var(--black);
    color: var(--white);
  }

  /* Main column */
  .main {
    flex: 80%;
    background-color: white;
    padding: 20px;
  }
   

  /* párrafo */
  .parrafo{
    line-height: 1.5;
  }
   /* fotos de libros */
  .foto-libros img{
    float: left;
    /* padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px; */
    width: 300px;
    height: 450px;
    cursor: pointer;
    border: 5px solid var(--purple);
    margin-right: 10px;
    border-radius: 25px;
  }

  .foto-libros img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  /* foto perfil */
  .perfil-foto img{
    border: 1px solid var(--blue);
    max-height: 350px;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    width: 150px;
  }

  .perfil-foto img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


  /* Footer */
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: var(--black);
    color: var(--white);
    font-size: 0.6rem;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }