*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    color: darkblue;
    font-family: 'Roboto', cursive;
}

/* Agregando estas líneas desde el min 6:17 */
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203E;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
}

.contenedor .contenido {
    grid-column: span 2;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #faa43d;
    text-align: center;
    /* Aplicamos flexbox para acomodar elementos en el sidebar */
    display: flex;
    align-items: center;
    /* centrando texto "sidebar" */
    justify-content: center;
    /* Ampliando verticalmente el sidebar para que ocupe hasta la parte inferior de la página, pero rozando con el footer */
    grid-row:  2 / 4; /*o sino también sale con 'grid-row: span 2' */
}

/* continuando 15:45 aplicando esdtilos a los widgets */
.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    /* aplicando flexbox para centrear el texto widget */
    display: flex;
    align-items: center;
    justify-content: center;
}

