*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    color: darkblue;
    font-family: 'Roboto', cursive;
}

/* Agregando estas líneas desde el min 6:17 */
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    /* desde el 21:54 min aplicaremos grid-areas*/
    grid-template-areas: "header      header      header"
                         "contenido  contenido   sidebar"
                         "widget-1    widget-2    sidebar"
                         "footer      footer      footer" ;
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203E;
    color: #fff;
    /* acomodando header con grid-areas */
    grid-area: header;

}

.contenedor .contenido {
    /* aplicando grid area al contenido */
    grid-area: contenido;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #faa43d;
    text-align: center;
    /* Aplicamos flexbox para acomodar elementos en el sidebar */
    display: flex;
    align-items: center;
    /* centrando texto "sidebar" */
    justify-content: center;
    /* aplicamos min-height para que el sidebar tenga un tamaño mínimo de 100 px cuando haga responsive también */
    min-height: 100px; 
    /* aplicando grid area al sidebar */
    grid-area: sidebar;

}

/* continuando 15:45 aplicando esdtilos a los widgets */
.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    /* aplicando flexbox para centrear el texto widget */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    /* aplicando grid area a widget-1 */
    grid-area: widget-1;
}

.contenedor .widget-2{
    /* aplicando grid area a widget-2 */
    grid-area: widget-2;
}

/* aplicando estilos al footer 17:20 min*/
.contenedor .footer{
    background: #12203e;
    color: #fff;
    /* aplicando grid area al footer */
    grid-area: footer;

}

/* aplicando media queries desde min 26:25 */
@media screen and (max-width: 768px){
    .contenedor {
        grid-template-areas: "header      header      header"
                            "contenido  contenido   contenido" /*para que abarque tres filas */
                            "sidebar     sidebar     sidebar" /*para que abarque tres filas */
                            "widget-1    widget-1    widget-2"
                            "footer      footer      footer" ;
    }
};
    
/* fin de maquetación con css grid  */

