/* Diseñando una pagina con flexbox - Estilos CSS del Header | Curso de CSS desde cero 08/08/22  */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    /*usando autoprefixer */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #000 url(media/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

/* estilando el contenedor */
.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* estilando el header */
header {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* distanciando el logo de los enlaces */
header .logo {
    margin-right: 40px;
}

/* estilando los enlaces */
header .menu a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

/* aplicando hover */
header .menu a:hover {
    text-decoration: underline;
}

/*aplicando css al main y el aside 10/08/22*/
.main {
    background: #fff;
    padding: 20px;
    width: 70%;
}

/* aplicando css a la imagen con la clase thumb */
.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

/* aplicando css al texto TITULO DEL ARTICULO */
.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

/* aplicando css a los parrafos */
.main article p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

/* aplicando css al aside */
aside {
    width: 30%;
    background: #537dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* aplicando css a los anuncios con clase ad */
aside .ad {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    margin-bottom: 20px;
    background: #4264a2;
}