/* Diseñando una pagina con flexbox - Estilos CSS del Header | Curso de CSS desde cero 08/08/22  */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    /*usando autoprefixer */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #000 url(media/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

/* estilando el contenedor */
.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* estilando el header */
header {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* distanciando el logo de los enlaces */
header .logo {
    margin-right: 40px;
}

/* estilando los enlaces */
header .menu a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

/* aplicando hover */
header .menu a:hover {
    text-decoration: underline;
}

/*aplicando css al main y el aside 10/08/22*/
.main {
    background: #fff;
    padding: 20px;
    width: 70%;
}

/* aplicando css a la imagen con la clase thumb */
.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

/* aplicando css al texto TITULO DEL ARTICULO */
.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

/* aplicando css a los parrafos */
.main article p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

/* aplicando css al aside */
aside {
    width: 30%;
    background: #537dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* aplicando css a los anuncios con clase ad */
aside .ad {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    margin-bottom: 20px;
    background: #4264a2;
}

/* Diseñando una pagina con flexbox - Estilos del Footer | Curso de CSS desde cero 11/08/22 */
footer {
    margin: 20px 0;
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* aplicando css a las redes sociales */
footer .redes-sociales a {
    color: #fff;
    text-decoration: underline;
    margin-left: 20px;
}

footer .redes-sociales a:hover {
    text-decoration: none;
}

/* Diseñando una pagina con flexbox - Responsive Design | Curso de CSS desde cero 11/08/22 21:35 hrs */
@media screen and (max-width:800px) {
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
        flex-direction: row;
    }

    aside .ad {
        width: 40%;
    }
}

/* aplicando media queries hasta una pantalla con un maximo de 640px */
@media screen and (max-width: 660px) {
    header {
        flex-direction: column;
        padding-bottom: 30px;
    }

    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .2);
        text-align: center;
        padding: 20px;
    }

    /* estos estilos mejoran el menu, para que esten mas centrados ya que en la linea 47 se le agregó un margen derecho */
    header .menu a {
        margin: 0 20px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    /* coloca los enlaces de redes sociales por encima de la clase autor */
    footer .autor {
        order: 2;
    }

    footer .redes-sociales {
        order: 1;
        margin-bottom: 20px;
    }

}

/* aplicando estilos para pantallas con un maximo de 400px */
@media screen and (max-width:400px) {

    /* quitaremos el aside que contiene los anuncios con la clase ad */
    aside {
        display: none;
    }

    header .menu a {
        margin: 0 10px;
    }
}